---
name: home
url: /
controller: HomeController
---

<div class="grid-content">
    <div class="grid-block">
        <div class="large-3 grid-block">
            <input type="text" 
                id="searchText"
                ng-model="searchText" 
                ng-model-options="{ debounce: 500 }"
                placeholder="enter search text"
                style="margin: 1rem 0 1rem 0;" />
        </div>
        <div class="grid-block align-center">
            <div uib-pagination total-items="pageInfo.total_count"
                items-per-page="pageInfo.page_size"
                ng-model="pageInfo.page_number"
                max-size="5"
                boundary-links="true"
                ng-change="pageChanged()"
                ng-show="showPagination">
            </div>
        </div>
        <div class="grid-block align-right shrink">
            <span class="pagination">Showing {{offset}} to {{lastShown}} of {{pageInfo.total_count}} entries</span>
        </div>
    </div>

    <div class="grid-block">
        <div ng-show="loading" style="position: absolute; z-index: 3; top: 50%; left: 50%; border: 1px solid #ddd;">
            <img src="spinner.gif" width="128" height="128" >
        </div>

        <table role="grid" style="overflow-x: auto;">
            <thead>
                <tr>
                    <th ng-repeat="col in columns">
                        <div ng-click="setOrder(col['name'])">
                            <span>{{ col['title'] }}</span>
                            <span ng-if="col['name'] === orderBy">&#x2191</span>
                            <span ng-if="'-' + col['name'] === orderBy">&#x2193</span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in model">
                    <td ng-repeat="col in columns" ng-switch="col['name']" align="{{cellAlign(col)}}">
                        <span ng-switch-when="date_sold">
                            <span>{{row['date_sold'] | date: 'M/d/yyyy'}}</span>
                        </span>
                        <span ng-switch-when="book_value">
                            <span>{{row['book_value'] | currency:"$":0}}</span>
                        </span>
                        <span ng-switch-when="sales_price">
                            <span>{{row['sales_price'] | currency:"$":0}}</span>
                        </span>
                        <span ng-switch-default>{{row[col['name']]}}</span>
                    </td>
                    <td ng-if="showRemove">
                        <button class="btn btn-link" ng-click="remove({url:row.view})">
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="grid-block align-center">
        <form name="csv" action="/api/v1/loans.csv" style="margin: 10px;">
            <a href="#" class="button" onclick="csv.submit()">Download as CSV</a>
            <input type="hidden" name="filter[string][sale_id,site_name,winning_bidder,loan_type,quality,address]" value="{{searchText}}" />
            <input type="hidden" name="page[size]" value="{{pageInfo.total_count}}" />
            <input type="hidden" name="sort" value="{{orderBy}}" />
        </form>
        <form name="json" action="/api/v1/loans.json" style="margin: 10px;">
            <a href="#" class="button" onclick="json.submit()">Download as JSON</a>
            <input type="hidden" name="filter[string][sale_id,site_name,winning_bidder,loan_type,quality,address]" value="{{searchText}}" />
            <input type="hidden" name="page[size]" value="{{pageInfo.total_count}}" />
            <input type="hidden" name="sort" value="{{orderBy}}" />
        </form>
    </div>
</div>
