---
name: home
url: /
controller: HomeController
---

<div ng-show="loading">
    <h4>Retrieving data</h4>
</div>

<div ng-hide="loading" class="grid-content">
    <div class="grid-block">
        <div class="large-3 grid-block">
            <input type="text" 
                ng-model="searchText" 
                placeholder="enter search text"
                style="margin: 1rem 0 1rem 0;" />
        </div>
        <div class="grid-block align-center">
            <div uib-pagination total-items="totalItems"
                items-per-page="pageSize"
                ng-model="currentPage"
                max-size="5"
                boundary-links="true"
                ng-change="pageChanged()">
            </div>
        </div>
        <div class="grid-block align-right shrink">
            <span class="pagination">Showing {{offset + 1}} to {{lastShown}} of {{totalItems}} entries</span>
        </div>
        <!--<div>
            </div>-->
    </div>

    <div class="grid-block">
        <table role="grid" style="overflow-x: auto;">
            <thead>
                <tr>
                    <th ng-repeat="col in columns">
                        <div ng-click="setOrder(col['name'])">
                            <span>{{ col['title'] }}</span>
                            <span ng-if="col['name'] === orderBy">&#x2191</span>
                            <span ng-if="'-' + col['name'] === orderBy">&#x2193</span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in (filtered | orderBy:orderBy | startFrom:offset | limitTo:pageSize)">
                    <td ng-repeat="col in columns" ng-switch="col['name']" align="{{cellAlign(col)}}">
                        <span ng-switch-when="date_sold">
                            <span>{{row['date_sold'] | date: 'M/d/yyyy'}}</span>
                        </span>
                        <span ng-switch-when="book_value">
                            <span>{{row['book_value'] | currency:"$":0}}</span>
                        </span>
                        <span ng-switch-when="sales_price">
                            <span>{{row['sales_price'] | currency:"$":0}}</span>
                        </span>
                        <span ng-switch-default>{{row[col['name']]}}</span>
                    </td>
                    <td ng-if="showRemove">
                        <button class="btn btn-link" ng-click="remove({url:row.view})">
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
